<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid d-flex align-items-center row">
        <div id="menu-btn" class="col-sm-2 mx-2">
            <div class="btn-hambuerger"></div>
            <div class="btn-hambuerger"></div>
            <div class="btn-hambuerger"></div>
        </div>

        <div class="col-sm" th:if="${solicitud.getRequestURI().contains('/activitatDestacada')}"> 
            <a class="navbar-brand h1 " href="#">Activitat Destacada</a>
        </div>
        
        <div class="col-sm" th:if="${solicitud.getRequestURI().contains('/terapies')}"> 
            <a class="navbar-brand h1 " href="#">Terapies</a>
        </div>
        <div class="col-sm" th:if="${solicitud.getRequestURI().contains('/blogs')}"> 
            <a class="navbar-brand h1 " href="#">Blogs</a>
        </div>

        <div class="col-sm" th:if="${solicitud.getRequestURI().contains('/cursos')}"> 
            <a class="navbar-brand h1 " href="#">Cursos</a>
        </div>

        <div class="col-sm" th:if="${solicitud.getRequestURI().contains('/podcasts')}"> 
            <a class="navbar-brand h1 " href="#">Podcasts</a>
        </div>

        <div class="col-sm" th:if="${solicitud.getRequestURI().contains('/xerrades')}"> 
            <a class="navbar-brand h1 " href="#">Xerrades</a>
        </div>
    </div>
</nav>