<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!doctype html>

<head>
  <title>Elena Puig - Blogs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>

<body>
  <div th:replace="~{/components/nav.html}"></div><!-- Posem la barra de navegació -->
  <div th:replace="~{/components/subNav.html}"></div><!-- sub barra de navegació -->
  <div class="alert" th:if="${error}">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <b th:text="${error}"></b>
</div>

<div class="correct" th:if="${correcte}">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <b th:text="${correcte}"></b>.
</div>
  <div class="container-fluid">

    <div class="row">
      <div id="menuLateral" class="menu-collapsed col-sm-2">

        <div id="menu-item">
          <div class="item" th:each="activitat : ${activitats}">
            <a th:href="'#activitatId' + ${activitat.getIdActivitat}">
              <div class="title"> <span th:text="${activitat.getTitolActivitat}"></span></div>
            </a>
          </div>

          <div th:if="${usuariRegistrat != null and usuariRegistrat.getIdRol == 1}" class=" item separator"></div>
          <div th:if="${usuariRegistrat != null and usuariRegistrat.getIdRol == 1}" class="item">
            <a th:href="'/activitats/blogs?view_name=new'">
              <div class="title"> <span> Agrega un Blog</span></div>
            </a>
          </div>
        </div>
      </div>

      <!-- Aqui es veu el cos de les diferents blogs-->
      <div class="col-sm-10">
        <main class="scroller"
          th:if="${solicitud.getParameter('view_name') == null || solicitud.getParameter('view_name') == 'all'}">

          <section th:each="activitat : ${activitats}" th:id="'activitatId' + ${activitat.getIdActivitat}"
            class="h-100 d-flex align-items-center">
            <div class="container p-3">
              <div class="half-post-entry d-block d-lg-flex bg-light row">
                <div class="col-sm">
                  <img class="p-1 img-fluid" th:src="${activitat.getImgDestacada()}">
                </div>
                <div class="contents col-sm m-5">
                  <h3 class="p-1" th:text="${activitat.getTitolActivitat}"></h3>
                  <p class="p-1" th:utext="${#strings.replace(activitat.getDescripcio, '\n', '&lt;br&gt;')}"></p>
                </div>
              </div>
            </div>
            <!-- BOTONS ADMIN -->
            <div class="row" th:if="${usuariRegistrat != null and usuariRegistrat.getIdRol == 1}">
              <div class="col-sm-4">
                <button type="button" class="btn btn-primary"> <!-- Aquest es el boto d'editar/actualizar-->
                  <a class="text-white" th:href="'/activitats/blogs?view_name=update&id=' + ${activitat.getIdActivitat}">Editar</a>
                </button>
              </div>
              <div class="col-sm-4">
                <form style="margin:0px" th:action="@{/activitats/blogs}" th:method="delete">
                  <input type="hidden" name="id" th:value="${activitat.getIdActivitat}">
                  <button type="submit" class="btn btn-danger"> Eliminar </button><!-- Aquest es el boto d'eliminar-->
                </form>
              </div>
            </div>
          </section>
        </main>

        <!-- Si el parametre es "new" la pagina mostrara aquest codi, que serveix per agregar un nou blog-->
        <article th:if="${solicitud.getParameter('view_name') == 'new'}" class="col-sm-8 m-0">
          <form th:action="@{/activitats/blogs}" th:method="post" th:object="${activitatnova}">
            <input type="hidden" th:field="*{idActivitat}">

            <div class="form-group">
              <label for="inputTitol">Titol del Blog</label>
              <input class="form-control" type="text" th:value="*{titolActivitat}" id="inputTitol"
                th:field="*{titolActivitat}" name="titolActivitat">
            </div>

            <div class="form-group">
              <label for="imgDestacada">URL Imatge</label>
              <input class="form-control" type="text" th:value="*{imgDestacada}" id="imgDestacada" th:field="*{imgDestacada}"
                name="imgDestacada">
            </div>

            <div class="form-group">
              <label for="descripcio">Escriu la teva consulta</label>
              <textarea class="form-control" type="text" rows="12" th:value="*{descripcio}"
                id="descripcio" th:field="*{descripcio}" name="descripcio"></textarea>
            </div>

            <div class="form-group">
              <label for="activitatDestacada">Vols que sigui el blog destacat?</label>
              <select id="option" name="option" th:field="*{activitatDestacada}">
                <option value="0">No</option>
                <option value="1">Si</option>
              </select>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button type="reset" class="btn btn-primary">Buidar</button>
            </div>
          </form>
        </article>


        <!-- Si el parametre es "update" la pagina mostrara aquest codi, que serveix per actualitzar la blog seleccionada-->
        <article th:if="${solicitud.getParameter('view_name') == 'update'}" class="col-sm-7">
          <form th:action="@{/activitats/blogs}" th:method="post" th:object="${activiatatUpdate}">
            <input type="hidden" th:field="*{idActivitat}">

            <div class="form-group">
              <label for="inputTitol">Titol del Blog</label>
              <input class="form-control" type="text" th:value="*{titolActivitat}" id="inputTitol"
                th:field="*{titolActivitat}" name="titolActivitat">
            </div>

            <div class="form-group">
              <label for="imgDestacada">URL Imatge</label>
              <input class="form-control" type="text" th:value="*{imgDestacada}" id="imgDestacada" th:field="*{imgDestacada}"
                name="imgDestacada">
            </div>

            <div class="form-group">
              <label for="descripcio">Escriu la teva consulta</label>
              <textarea class="form-control" type="text" rows="12" th:value="*{descripcio}"
                id="descripcio" th:field="*{descripcio}" name="descripcio"></textarea>
            </div>

            <div class="form-group">
              <label for="activitatDestacada">Vols que sigui el blog destacat?</label>
              <select id="option" name="option" th:field="*{activitatDestacada}">
                <option value="0">No</option>
                <option value="1">Si</option>
              </select>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button type="reset" class="btn btn-primary">Buidar</button>
            </div>
          </form>
        </article>

      </div>
    </div>
  </div>

  <div th:replace="~{/components/footer.html}"></div>
  <script th:src="@{/css/scripts.js}"></script>
</body>

</html>