<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!doctype html>

<head>
  <title>Elena Puig - Terapies</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

  <style>
    .list-container {
      height: 80vh;
      overflow-y: scroll;
    }

    /* Oculta la barra de scroll */
    ::-webkit-scrollbar {
      display: none;
    }

    body {
      scrollbar-width: none;
    }
  </style>
</head>

<body>
  <div th:replace="~{/components/nav.html}"></div><!-- Posem la barra de navegació -->
  <div th:replace="~{/components/subNav.html}"></div><!-- sub barra de navegació -->
  <div class="container">
    <div class="row">

      <!-- a la esquerra posem el que seria -->
      <ul class="col-sm-4">
        <li th:each="terapia : ${terapies}" class="list-group">
          <a th:href="'#terpiaId' + ${terapia.getIdTerapies}" class="list-group-item list-group-item-action" th:text="${terapia.getTitolTerapies}" data-bs-toggle="collapse" ></a>
        </li>
        <li>
          <a th:href="'/admin/terapies?view_name=new'" class="list-group-item list-group-item-action">Agrega una Terapia</a>
        </li>
      </ul>

      <!-- Aqui es veu les diferents terapies-->
      <div class="col-sm-8">
        <div th:if="${solicitud.getParameter('view_name') == null || solicitud.getParameter('view_name') == 'all'}" id="accordion">
          <div class="list-container collapse show">
            <div th:each="terapia : ${terapies}" class="list-group" th:id="'terpiaId' + ${terapia.getIdTerapies}" data-bs-parent="#accordion">
              <h3 th:text="${terapia.getTitolTerapies}"></h3>
              <p th:text="${terapia.getDescripcioTerapies}"></p>
              <div class="row">
                <div class="col-sm-4">
                  <button type="button" class="btn btn-primary"> <!-- Aquest es el boto d'editar/actualizar-->
                    <a class="text-white"
                      th:href="'/admin/terapies?view_name=update&id=' + ${terapia.getIdTerapies}">Editar</a>
                  </button>
                </div>
                <div class="col-sm-4">
                  <form style="margin:0px" th:action="@{/admin/terapies}" th:method="delete">
                    <input type="hidden" name="id" th:value="${terapia.getIdTerapies}">
                    <button type="submit" class="btn btn-danger"> Eliminar </button><!-- Aquest es el boto d'eliminar-->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Si el parametre es "new" la pagina mostrara aquest codi, que serveix per agregar una nova terapia-->
        <div th:if="${solicitud.getParameter('view_name') == 'new'}" class="col-sm-8 m-0">
          <form th:action="@{/admin/terapies}" th:method="post" th:object="${terapiaNova}">
            <input type="hidden" th:field="*{idTerapies}">

            <div class="form-group">
              <label for="inputTitol">Titol de la terapia</label>
              <input class="form-control" type="text" th:value="*{titolTerapies}" id="inputTitol"
                th:field="*{titolTerapies}" name="Titol">
            </div>

            <div class="form-group">
              <label for="inputdescripcioTerapiesn">Descripció</label>
              <input class="form-control" type="text" th:value="*{descripcioTerapies}" id="inputdescripcioTerapies"
                th:field="*{descripcioTerapies}" name="descripcioTerapies">
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button type="reset" class="btn btn-primary">Buidar</button>
            </div>
          </form>

          
        </div>


        <!-- Si el parametre es "update" la pagina mostrara aquest codi, que serveix per actualitzar la terapia seleccionada-->
        <div th:if="${solicitud.getParameter('view_name') == 'update'}" class="col-sm-7">
          <form th:action="@{/admin/terapies}" th:method="post" th:object="${terapiaUpdate}">
            <input type="hidden" th:field="*{idTerapies}">

            <div class="form-group">
              <label for="inputTitol">Titol de la terapia</label>
              <input class="form-control" type="text" th:value="*{titolTerapies}" id="inputTitol"
                th:field="*{titolTerapies}" name="Titol">
            </div>

            <div class="form-group">
              <label for="inputdescripcioTerapiesn">Descripció</label>
              <input class="form-control" type="text" th:value="*{descripcioTerapies}" id="inputdescripcioTerapies"
                th:field="*{descripcioTerapies}" name="descripcioTerapies">
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <button type="reset" class="btn btn-primary">Buidar</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</body>

</html>